<div class="container" id="welcome">
  <h1 id="title">Discofish</h1>
  <p id="byline">An online library of hype artists and their music.</p>
  <p><%= link_to 'Check out our music', artists_path, class: 'btn btn-lg btn-outline' %></p>
</div>
