<table>
  <% @artists.each do |artist| %>
    <tr>
      <td><%= artist.name %></td>
      <td><%= link_to 'Show', artist_path(artist) %></td>
      <td><%= link_to 'Edit', edit_artist_path(artist) %></td>
      <td><%= link_to 'Delete', artist_path(artist), method: :delete %></td>
    </tr>
  <% end %>
</table>
